<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- Pagination -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
            integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
          integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="css/pagination.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--    Font Awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <script>
        <!--   Load initial data     -->
        $(document).ready(function () {
            $('select').formSelect();
            // const multipleSelects = document.getElementsByName('multiple');
            // const instances = M.FormSelect.init(multipleSelects, {isMultiple: true});
        });
    </script>

</head>
<body>
<div class="container">
    <form onsubmit="handleSearch()">
        <div class="row">
            <!-- DATE -->
            <div class="input-field col s3 input-icons">
                <i class="fa fa-calendar-check-o icon" aria-hidden="true"></i>
                <input type="text" name="daterange" class="input-field" value="01/01/2018 - 01/15/2018"
                       style="text-align: center"/>
            </div>
            <!-- PRICE MIN -->
            <div class="input-field col s2">
                <input type="number" name="price" placeholder="Min. Price" class="validate" min="0" value="0" required/>
                <span class="helper-text" data-error="Invalid" data-success=""></span>
                <label>Minimum Price</label>
            </div>
            <!-- PRICE MAX -->
            <div class="input-field col s2">
                <input type="number" name="price" placeholder="Max. Price" class="validate" min="0" value="10000"
                       required/>
                <label>Maximum Price</label>
                <span class="helper-text" data-error="Invalid" data-success=""></span>
            </div>
        </div>
        <div class="row">
            <!-- POSTCODE -->
            <div class="input-field col s2">
                <select id="postcode" name="multiple" multiple> </select>
                <label for="postcode">Zip</label>
                <span class="error-select error-hidden">Invalid</span>
            </div>

            <!-- ADDRESS -->
            <div class="input-field col s4">
                <select id="address" name="multiple" multiple></select>
                <label for="address">Street</label>
                <span class="error-select error-hidden">Invalid</span>
            </div>

            <!-- TYPE -->
            <div class="input-field col s3">
                <select id="type" name="multiple" multiple></select>
                <label for="type">Type</label>
                <span class="error-select error-hidden">Invalid</span>
            </div>
        </div>
        <div class="row">
            <!-- LIVING AREA -->
            <div class="input-field col s2">
                <input type="number" name="livingarea" value="0" class="validate" min="0" max="10000" required/>
                <span class="helper-text" data-error="Can't be higher than Minimum Land Area" data-success=""></span>
                <label>Minimum Living Area</label>
            </div>
            <div class="input-field col s2">
                <input type="number" name="livingarea" value="10000" class="validate" min="0" max="10000" required/>
                <span class="helper-text" data-error="Can't be higher than Maximum Land Area" data-success=""></span>
                <label>Maximum Living Area</label>
            </div>
            <!-- LAND AREA -->
            <div class="input-field col s2">
                <input type="number" name="landarea" value="0" class="validate" min="0" max="30000" required/>
                <span class="helper-text" data-error="Can't be lower than Minimum Living Area" data-success=""></span>
                <label>Minimum Land Area</label>
            </div>
            <div class="input-field col s2">
                <input type="number" name="landarea" value="30000" class="validate" min="0" max="30000" required/>
                <span class="helper-text" data-error="Can't be lower than Maximum Living Area" data-success=""></span>
                <label>Maximum Land Area</label>
            </div>
            <div class="col s1">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-top: 20px">
                    Search
                </button>
            </div>
        </div>
        <span class="invisible" style="color: red">Error</span>

    </form>
    <!-- Table -->
    <div class="row">
        <div class="col s1" style="margin-bottom: 20px">
            <button id="download" class="btn waves-effect waves-light" type="submit" name="action"
                    style="margin-top: 20px">
                Download
            </button>
        </div>
        <!--dont remove the 2 divs below divs-->
        <div class="col s12 offset1"></div>
        <div class="col s12 offset1 pagination data-container" id="tablecont"></div>
    </div>
</div>

</body>

<footer>
    <script>
        <!--  Date picker Initializer      -->
        var startDate = new Date();
        var endDate = new Date();
        // - 7 days
        startDate.setDate(startDate.getDate() - 7);
        startDate.setHours(0);
        endDate.setHours(23);
        endDate.setMinutes(59);
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                startDate: startDate.toLocaleString(),
                endDate: endDate.toLocaleString(),
                // showDropdowns: true,
            }, function (start, end, label) {
                startDate = new Date(start.format('YYYY-MM-DD'))
                startDate.setHours(0)
                endDate = new Date(end.format('YYYY-MM-DD'))
                endDate.setHours(23)
                endDate.setMinutes(59)
                validateSelectLimitations();
                fillAddresses();
            });

        });
        /*setTimeout(()=>{
            $('.dropdown-content').on('click', function(e) {
                e.stopPropagation();
            });
        },500)*/
        //    https://stackoverflow.com/questions/10777684/how-to-use-queryselectorall-only-for-elements-that-have-a-specific-attribute-set/10777783
    </script>
    <script src="js/validators.js"></script>
    <script src="js/fetchData.js"></script>
    <script src="js/fillSearchFields.js"></script>
</footer>
</html>